[2019-03-14 19:31] paulhendricks opened #9 "Update notebooks to use `dask_cudf` and `dask_cuml`"
- https://github.com/rapidsai/dask-cudf
- https://github.com/rapidsai/dask-cuml

[2019-03-25 19:17] paulhendricks commented on #9
See here: https://github.com/rapidsai/notebooks-extended/pull/19

[2019-03-25 19:27] starlett3 opened #20 "Suggestion: cuml trained Model Export for TensorRT Serving"
Hello, I have a suggestion for a notebook -- an **example of a cuml trained model being exported so it can be served by TensorRT.**

More information on TensorRT:
- https://docs.nvidia.com/deeplearning/sdk/tensorrt-inference-server-guide/docs/quickstart.html#verify-inference-server-is-running-correctly
- https://ngc.nvidia.com/catalog/containers/nvidia:tensorrtserver
- https://docs.nvidia.com/deep

[2019-04-12 14:43] pklemenkov opened #30 "scikit-learn PCA is not parallel. Get rid of multiprocessing cell, it just confuses users"

[2019-04-12 14:45] pklemenkov commented on #30
`import multiprocessing`
`print(multiprocessing.cpu_count()) # Return the number of CPUs in the system.`

This cell is useless and confusing because PCA in scikit-learn has no parallel implementation

[2019-04-12 14:47] pklemenkov opened #31 "spark_rapids_pca_demo.ipynb Using Spark to just read a dataframe is redundant"
Please rename the notebook and get rid of Spark. `pandas.read_csv` will do the same job and not confuse users.

[2019-04-15 22:38] krajendrannv commented on #31
submitted a PR to fix this.
https://github.com/rapidsai/notebooks-extended/pull/32

[2019-05-02 20:41] clahlou opened #34 "Docker build error"
Running on a DGX-1
I got the following error message for running "docker build -t notebooks-extended"

_Error response from daemon: Dockerfile parse error line 9: unknown instruction: JINJA2_

**--- Problem resolved: Dockerfile is missing a \ in line 9.**

[2019-05-02 21:10] #34 closed

[2019-05-03 00:17] taureandyernv commented on #31
We thought so too so we've updated the notebook, so things should be all smiles now.

[2019-05-03 00:17] #31 closed

[2019-05-15 21:32] vilmara opened #41 "Error building the notebooks-extended: ADD failed: stat /var/lib/docker/tmp/docker-builder566067138/cpu_comparisons: no such file or directory"
Hi, I am getting the below error building the notebooks-extended, some tip on how to fix it?, see below

`docker build -t notebooks-extended .`

**error:**
[code]

[2019-05-15 21:34] vilmara opened #42 "how to run the performance testing cpu vs gpu"
hi all, what is the sample code to run the benchmark as shown in this picture?
![Screenshot (72)](https://user-images.githubusercontent.com/30601934/57811225-56816680-772f-11e9-8eb4-bd2dd6d75032.png)

[2019-05-16 06:28] miguelangel opened #43 "[DOC] Test on NGC image"
Hi,

I am following the **Introduction to RAPIDS notebook**, and I have just noticed that this notebook has not been tested on NGC's RAPIDS container.

![image](https://user-images.githubusercontent.com/26169771/57831074-6a22e080-77b4-11e9-9586-417c26e07bc9.png)

I have tested it, and it seems to work. I would suggest to update that comment mentioning first NGC containers, then DockerHub and final

[2019-05-16 06:41] miguelangel opened #44 "[DOC] Lorem ipsum in 01_Introduction_to_RAPIDS.ipynb notebook"
Hi,

At the bottom of the **01_Introduction_to_RAPIDS.ipynb** jupyter notebook, it can be seen a Lorem ipsom paragraph.

![image](https://user-images.githubusercontent.com/26169771/57831775-54aeb600-77b6-11e9-9874-3f87b65f7b28.png)

I think that content should be updated or removed.

Regards,
Miguel

[2019-05-16 06:45] miguelangel opened #45 "[BUG] Incorrect path at Getting_started_with_CUDF.ipynb notebook"
Hi,

I have git cloned this project, and when trying to run the cell #4 of **Gestting_started_with_CUDF.ipynb** notebook, the following error is displayed:

![image](https://user-images.githubusercontent.com/26169771/57832016-e0c0dd80-77b6-11e9-89d9-0eacc245bd66.png)

I would suggest to use relative path to the dataset, something as follows:

[code]

Hope it helps.

Regards,
Miguel

[2019-05-16 07:54] miguelangel opened #46 "[BUG] Unclear comment on Getting_started_with_cuDF.ipynb notebook"
Hi,

**Getting_started_with_cuDF.ipynb notebook** jupyter notebook mentions the following:

That paragraph could make the reader think that the columns that are going to be treated in the next cell are string columns when they are actually int64 columns containing categorical values.

![image](https://user-images.githubusercontent.com/26169771/57835951-f8509400-77bf-11e9-8b4e-4e0517e40c89.png)

I

[2019-05-16 21:51] vilmara opened #48 "Errors on notebooks-extended/advanced/benchmarks/cuml_benchmarks.ipynb"
Hi all, could you please double check the notebook benchmark located at notebooks-extended/advanced/benchmarks/cuml_benchmarks.ipynb, it presents errors

[2019-05-16 22:26] taureandyernv commented on #44
Closed with https://github.com/rapidsai/notebooks-extended/pull/47

[2019-05-16 22:26] #44 closed

[2019-05-16 22:27] taureandyernv commented on #46
Closed with https://github.com/rapidsai/notebooks-extended/pull/47.  Thanks Miguel!

[2019-05-16 22:27] #46 closed

[2019-05-16 22:27] taureandyernv commented on #45
Closed with https://github.com/rapidsai/notebooks-extended/pull/47.  Thanks for the test, miguel!

[2019-05-16 22:27] #45 closed

[2019-05-16 22:41] taureandyernv commented on #48
@vilmara Are you getting a memory error, a data error, or another error?  I fixed the bad link to the data, i am seeing a memory error and will get the right people on it, but if there is another error, please let us know and provide us the affected cell and a copy of your error message.  Thanks!

[2019-05-16 22:44] taureandyernv commented on #42
@vilmara , will will get back to you on that, but do you have access to a DGX-x to match that performance?  Less performent GPU systems will be...well...slower :)

[2019-05-16 22:48] taureandyernv commented on #41
@vilmara , please follow our readme example here: https://github.com/rapidsai/notebooks-extended/blob/master/BUILD.md.  It is much easier and faster than doing a docker build.  be sure to git pull the notebook-extended repo to your the folder of your choice, and use that path as your volume mount, as per the instructions

[2019-05-16 22:51] taureandyernv commented on #20
@starlett3 we have a way of saving and loading some OLS models, but we haven't tried serving it to TensorRT.  Would you like to test it out when I push that model storing and loading notebook in the next 24 hours?

[2019-05-17 13:52] vilmara commented on #42
Hi @taureandyernv thanks for your reply, Yes I do have access to a DGX-x, but also I want to run this benchmark using a system in distributed mode connecting 2 servers with 4x-V100 gpus each (total 8 GPUS).  Could you please assist on how to run the above performance testing cpu vs gpu, and also on how to configure RAPIDS to work in distributed mode?

[2019-05-20 14:59] cjnolet opened #50 "advanced/E2E/rapids_ml_workflow_demo.ipynb is comparing different tree depths"
This notebook contains the following lines:

[code]

I would expect an apples-to-apples comparison to have the same `maxDepth` settings.

[2019-05-20 18:52] vilmara commented on #41
thanks @taureandyernv, issue solved with your instructions, I have to update also the path from `/folder/of/your/choice/:notebooks/extended` to  `/folder/of/your/choice/:/rapids/notebooks/extended/` to make it work

[2019-05-20 18:52] #41 closed

[2019-05-20 21:57] vilmara opened #51 "[FEA] Multi-Node / Multi-GPU Dask-XGBoost sample"
Hi all, is there a sample that shows how to run Dask-XGBoost with Multi-Node / Multi-GPU configuration?

[2019-05-21 12:58] vilmara commented on #48
hi @taureandyernv, I ran the benchmark again I got the below memory error at the command shell window:

**Affected cell:**
[code]

**Error:**
[code]

[2019-05-21 14:20] vilmara opened #52 "ModuleNotFoundError: No module named 'ipyvolume' (RAPIDS Demo End-To-End ML Workflow)"
Hi all, the RAPIDS Demo End-To-End ML Workflow is throwing the following error, could you help please?:

[code]

[2019-05-21 14:49] taureandyernv commented on #48
Assigning to @cjnolet .  Cjnolet and I talked earlier, but now that we have your error, we can look into it.  Hope to resolve it soon!

[2019-05-21 15:16] taureandyernv commented on #51
One is in the works and we will have one up shortly.

[2019-05-21 15:45] vilmara opened #54 "Change the port where the Dashboard is served / CommClosedError: in <closed TCP>: Stream is closed"
Hi all, how can I change the port where the Dashboard is served at the notebook `mortgage_e2e` located at the folder E2E->mortgage?. It looks like the script doesn't read the configuration file provided at utils/dask.conf.

As a second approach, I have provided the scheduler address and port directly as shown below but got this:
`client = Client('100.71.242.XX:8080')`
**error:**
`CommClosedError:

[2019-05-21 15:55] cjnolet commented on #48
Vilmara, what card and CUDA version are you using?

Sent from my iPhone

[2019-05-21 16:12] vilmara commented on #48
hi @cjnolet, I am using 4x V100-16GB, Driver Version: 418.67, CUDA Version: 10.1

[2019-05-21 21:53] vilmara commented on #52
I fixed the error `ModuleNotFoundError: No module named 'ipyvolume'` by installing the below packages:
[code]
But now I got this new error:
[code]

[2019-05-25 01:34] taureandyernv commented on #52
@Vilmara, i was going to update you with the fix once i figured out "fig_helpers"...which i did.  I've contacted the notebook maker and asked him to package it with matplotlib, which I believe he did.  Stay tuned for an update, as i verify and run tests :)

[2019-05-27 01:41] xiaonans opened #57 "Xgboost mortgage_e2e demo issues when NOT running in a notebook but a python script"
Hi all, the xgboost mortgage_e2e demo use only one gpu, when not running in a notebook but a python script. My script is attached bellow:
`
######################## This is the code block ######################
import numpy as np
import dask_xgboost as dxgb_gpu
import dask
import dask_cudf
from dask_cuda import LocalCUDACluster
from dask.delayed import delayed
from dask.distributed import Client,

[2019-05-28 14:42] alawami opened #58 "[BUG] E2E mortgage notebook breaks on Pascal and Rapids 0.6 & 0.7"
Running the mortgage notebook:

https://github.com/rapidsai/notebooks-extended/blob/master/advanced/E2E/mortgage/mortgage_e2e.ipynb

On NGC containers:

0.7-cuda10.0-devel-ubuntu18.04-gcc7-py3.6
and
0.6-cuda10.0-devel-ubuntu18.04-gcc7-py3.6

On dual P6000 cards, it can only do 2 parts of the data. However, on Rapids 0.5.1 I can run up to 6 parts of the data.

I have not noticed this issue when I r

[2019-05-28 14:45] alawami opened #59 "[BUG] Memory issue running mortgage notebook on RTX8000"
Running the mortgage notebook:

https://github.com/rapidsai/notebooks-extended/blob/master/advanced/E2E/mortgage/mortgage_e2e.ipynb

On NGC containers:

0.7-cuda10.0-devel-ubuntu18.04-gcc7-py3.6
and
0.6-cuda10.0-devel-ubuntu18.04-gcc7-py3.6

On dual RTX8000 cards, I can do 8 parts of the data. However, when I try running on more parts and monitor memory usage on nvidia-smi it reaches half the memo

[2019-05-28 21:23] vilmara commented on #51
hi @taureandyernv / @randerzander , could you please update with the status of this enhancement?.  May I know what approach are you taking?. Are you using Dask distributed across clusters? https://docs.dask.org/en/latest/setup.html

[2019-05-28 22:12] vilmara opened #60 "Future: status: error, key: PROCESS/Performance: mortgage_e2e_deep_learning.ipynb"
hi all, I am getting the below error running the notebook-3xtended mortgage_e2e_deep_learning.ipynb located at E2->Emortgage, some help, please?

**Cell**
[code]
<Future: status: error, key: PROCESS/Performance_2000Q1.txt>
<Future: status: error, key: PROCESS/Performance_2000Q2.txt>
<Future: status: error, key: PROCESS/Performance_2000Q4.txt>
<Future: status: error, key: PROCESS/Performance_2000Q3

[2019-05-29 19:01] rohitrawat opened #61 "PyArrow error running the mortgage_e2e noebook"
My workers crash when persisting the gpu_df right before converting to DMatrix:
[code]

Sample error from a worker is given below. I understand it as an arrow de-serialization error. The "got" number of bytes is identical across all workers at 67097200 which is around 64MB. The workers stop restarting after repeatedly failing. My setup is a two node cluster with 4 V-100 32GB GPUs each.
[code]

[2019-05-30 19:39] vineet54 opened #63 "Multi-node multi-GPU: mortgage_e2e notebook stuck at training"
I'm trying to run the `mortgage_e2e` notebook on a 2-node cluster with 8 V100 GPUs each. I am using the mortgage_2000-2003_1gb.tgz dataset.

The ETL part works fine but it gets stuck at the `dxgb_gpu.train()` part indefinitely. When I interrupt the kernel, I get the following traceback

[code]

[2019-05-30 20:44] vilmara commented on #54
Solved!

I was working within the container and it was assigning the generic IP `127.0.0.1` to my machine. To have access to the real host IP within the container, I have to run  it with the flag `--net=host`.

Once within the container working with the notebook, I passed the parameter `dashboard_address` to the local cluster ("Address on which to listen for the Bokeh diagnostics server like ‘loca

[2019-05-30 20:47] #54 closed

[2019-06-07 22:51] taureandyernv commented on #52
@vilmara , @miroenev updated the notebook.  Can you please see if this resolves your issue so i can close this?  Thanks!

[2019-06-07 22:54] taureandyernv commented on #59
@alawami, it is interesting that it reaches half memory usage and then breaks.  Is it half total GPU memory usage or just half of one card?  If half of total, probably only one GPU is in use and it fulled up all the memory.  Otherwise, it's a different problem.  Please let me know!

[2019-06-09 02:53] alawami commented on #59
@taureandyernv using nvidia-smi I can see it using half the memory on each card.

[2019-06-10 03:38] paulhendricks commented on #51
Hi @vilmara - Can you take a look at this notebook?

https://github.com/rapidsai/notebooks-extended/blob/master/beginner/tutorial/07_Introduction_to_Dask_XGBoost.ipynb

That notebook shows how to work with Dask XGBoost for Single Node Multi GPU. This workflow can be modified to extend to Multi Node / Multi GPU.

[2019-06-11 02:46] #9 closed

[2019-06-11 11:24] vp2527 opened #69 "Error while trying to run the code for Photometric LSST Astronomical Time-Series Classification Challenge (PLAsTiCC)"
Wanted to study the performance of GPUs compared to that of the CPUs. Found the code for the kaggle competition Photometric LSST Astronomical Time-Series Classification Challenge (PLAsTiCC). It's path is notebooks-extended/expert/E2E/plasticc/notebooks/rapids_lsst_full_demo.ipynb

I downloaded the dataset and even loaded them into their respective data frames. Received the following error while tr

[2019-06-11 19:38] #42 closed

[2019-06-11 19:48] vilmara commented on #51
hi @paulhendricks / @taureandyernv, thanks for your comments. I have found an usseful example at **Running a benchmark with RAPIDS and Dask with Slurm on bare metal. Example Distributed Multi-Node Mode**
https://github.com/NVIDIA/deepops/tree/master/examples/slurm-bare-metal-dask-rapids

[2019-06-11 19:48] #51 closed

[2019-06-13 03:34] trxcllnt opened #71 "Dockerfile paths don't match notebook directories"
The top-level Dockerfile has some old paths, failing the `make build` command:

[code]

[2019-06-18 19:32] taureandyernv commented on #69
@vp2527, I just pushed in Jiwei's PR https://github.com/rapidsai/notebooks-extended/pull/73 that fixed it.  You can now find the Kaggle notebooks at https://github.com/rapidsai/notebooks-extended/tree/master/competition_notebooks/kaggle.  Can you verify that it now works?

[2019-06-18 20:16] daxiongshu commented on #69
Thank you. @vp2527 It runs with cudf 0.7. I'm happy to help with any issues.

[2019-06-18 20:47] clahlou opened #75 "docker container does not have extended directory"
Followed the install instructions in BUILD.md. However, after launching the container rapidsai/rapidsai:latest, there is no extended/ directory within notebooks/ within the container.

[2019-06-18 22:06] #75 closed

[2019-06-19 03:44] vp2527 commented on #69
It runs perfectly now. Thank You!

[2019-06-19 16:32] taureandyernv commented on #69
awesome!

[2019-06-19 16:32] #69 closed

[2019-06-19 16:52] clahlou opened #79 "cudf dataframe creation error"
<img width="1002" alt="Screen Shot 2019-06-19 at 12 48 16 PM" src="https://user-images.githubusercontent.com/46354193/59784678-05feab00-9291-11e9-9b9e-bcbabcd6e23e.png">

From running "Getting_Started_with_cuDF" notebook

[2019-06-20 15:50] taureandyernv commented on #79
Hey @clahlou , I just ran it and received no errors.  Can you copy and paste your entire error message?  Also, what GPU are you using?

[2019-06-20 20:50] #79 closed

[2019-06-20 20:51] clahlou commented on #79
I was running on a DGX-1 server. Not sure why but it works now...

[2019-06-21 17:44] #71 closed

[2019-06-21 17:48] taureandyernv opened #85 "[FEA] Update Mortgage Notebook to 0.8 standards"
Our Mortgage notebook is starting to show its age, and not showcasing our latest and greatest library tools.  Time to change that!

Hopefully this Closes https://github.com/rapidsai/notebooks-extended/issues/63
https://github.com/rapidsai/notebooks-extended/issues/62
https://github.com/rapidsai/notebooks-extended/issues/61
https://github.com/rapidsai/notebooks-extended/issues/60
https://github.com

[2019-06-22 16:19] datametrician commented on #58
If you're using a container you disable the P400 card. This is causing the issue. Please use GPU isolation https://github.com/NVIDIA/nvidia-docker/wiki/GPU-isolation-(version-1.0) and let us know if it solves the problem.

[2019-06-22 16:21] datametrician commented on #59
You can't do more than 8 parts on dual RTX8000. I imagine during the join stage where it needs 2x memory it's hitting that prior to reporting it in NVIDIA-smi and crashing/stalling. Given that you're only supposed to run max 4 parts per RTX8000, I'm going to close this issue.

[2019-06-22 16:21] #59 closed

[2019-06-27 17:30] alawami commented on #58
@datametrician Thank you. I've verified that this works for Rapids 0.7.

Even though it works, it does however give the following error in the terminal:

[code]

[2019-06-27 17:30] #58 closed

[2019-06-27 19:39] clahlou opened #96 "UMAP"
Are there any UMAP example notebooks other than "Compare RAPIDS Decomposition Algorithms" yet?

[2019-06-28 18:49] vilmara commented on #52
@taureandyernv / @miroenev , notebook working. Thanks!

[2019-06-28 18:49] #52 closed

[2019-06-28 18:51] vilmara commented on #63
Hi @vineet54 , may I know how are you configuring the multi-node system?

[2019-06-29 15:53] #96 closed

[2019-06-29 17:33] cjnolet commented on #96
@clahlou, I’m not sure how Missed this. You can find standard UMAP demo notebooks in https://github.com/rapidsai/notebooks.

[2019-07-02 13:40] #60 closed

[2019-07-02 17:59] rogerallen opened #97 "Typo in README"
In the README, this notebook link has a typo where "pynb" should be "ipynb"
`getting_started_notebooks/basics/Getting_Started_with_cuDF.pynb`

[2019-07-03 19:32] taureandyernv commented on #97
Thanks @rogerallen !  Fixed it in https://github.com/rapidsai/notebooks-extended/pull/98

[2019-07-03 19:32] #97 closed

[2019-07-11 21:24] vilmara opened #101 "E2E-taxi - Warnings"
hi all, I am testing the  E2E-taxi notebook in multi node using dask-cuda (connected via docker over the net host), and I am getting these  warnings:
[code]

See below detailed tracelog on each node

**Dask-scheduler**
`distributed.worker - INFO - Run out-of-band function 'start_tracker'`

**dask-cuda-worker** (running on the same machine as dask scheduler)
distributed.worker - INFO - ------------

[2019-07-16 23:24] gumdropsteve opened #104 "ModuleNotFoundError: No module named 'nvstrings' (rapids-colab.ipynb)"
#### Error
`ModuleNotFoundError: No module named 'nvstrings'`
#### To Reproduce
Run [cuDF cell](https://colab.research.google.com/drive/1XTKHiIcvyL5nuldx0HSL_dUa8yopzy_Y#scrollTo=EwaJSKuswsNi&line=5&uniqifier=1) after executing prior cells from rapids-colab.ipynb [example notebook](https://colab.research.google.com/drive/1XTKHiIcvyL5nuldx0HSL_dUa8yopzy_Y#forceEdit=true&offline=true&sandboxMode=tru

[2019-07-18 15:52] taureandyernv commented on #101
@vilmara , @randerzander, and his team are working on this and updating it to remove the GCP dependency

[2019-07-18 16:00] #48 closed

[2019-07-22 16:48] datametrician opened #111 "Add Streamz Hello World to Readme for easy searching"
Subject says it all @taureandyernv :)

[2019-07-22 16:54] taureandyernv commented on #111
resolved in https://github.com/rapidsai/notebooks-extended/pull/112

[2019-07-22 16:54] #111 closed

[2019-07-22 16:55] taureandyernv commented on #104
@gumdropsteve , we pushed a new start up script today.  Check out https://github.com/rapidsai/notebooks-extended/pull/110 and the new script to see if it solves you prroblem :)

[2019-07-22 21:30] taureandyernv commented on #43
@miguelangel can you make a PR with that change?  thanks!

[2019-07-22 23:48] gumdropsteve commented on #104
Yes, this solves the issue.

It does take a bit longer (than the old setup script) to install everything but the new script from #110 worked on the first time every time (tested 5 times).

New script does not seem to be in [Example Google Colab](https://colab.research.google.com/drive/1XTKHiIcvyL5nuldx0HSL_dUa8yopzy_Y#forceEdit=true&offline=true&sandboxMode=true) yet so I'll leave this issue open?

[2019-07-22 23:51] gumdropsteve commented on #104
Yes @taureandyernv , this solves the setup issue. It does take a bit longer (than the old setup script) to install everything but the new script from #110 worked on the first time every time (tested 5 times).

New script does not seem to be in [Example Google Colab](https://colab.research.google.com/drive/1XTKHiIcvyL5nuldx0HSL_dUa8yopzy_Y#forceEdit=true&offline=true&sandboxMode=true) yet though, s

[2019-07-25 23:24] taureandyernv opened #121 "[FEA] Update Contributing.md"
Contributing.md is currently too general.  It needs some crisp, actionable points, as well as guidelines for each contribution type.

[2019-07-26 14:21] taureandyernv commented on #121
Suggestion from Nick B- include the steps we’d like someone to take when contributing a notebook (such as including commented out library install commands for any library not already in the base environment) would be a simple next step

[2019-07-27 10:43] #104 closed

[2019-08-08 14:04] vilmara commented on #101
hi @taureandyernv / @randerzander, I have run the notebook with the servers connected over infiniband and eliminated the warnins at the cuda workers; however, the messgae `distributed.worker - INFO - Run out-of-band function 'start_tracker'` still persists at the dask-scheduler node. Does it affect the performance or should I ignore it?

[2019-08-12 19:59] taureandyernv opened #143 "[FEA] Time series analysis of Utilities data"
We'd like to great some time series analytics example notebooks using Utilities data.  Community Member Mohammed Osman found some great data sources that track NY historical energy usage down to 15 minute intervals for years.

Some interesting notebooks ideas:
- Forecasting
- Compare model accuracy based on time interval
- Compare CPU implementations
- compare and contrast energy usage over decade

[2019-08-15 21:56] gumdropsteve opened #149 "Colab Install Script syntax error [BUG]"
### Describe the bug
RAPIDS Colab install script syntax error in line 7

### Steps/Code to reproduce bug
- Inside Google Colab Tesla T4 session
  - Click [here](https://colab.research.google.com/drive/1SuHxJA1G-jw4J9gMZ3oqL1Ck0O2ZIKp1#forceEdit=true&offline=true&sandboxMode=true) for such a session with input cell ready to reproduce error

**input**
[code]
**output**
[code]

### Expected behavior

[2019-08-16 03:17] ritchieng opened #151 "[QST] Community Maintained List"
At some point this repository will get really bulky to download or even maintain.

I created one of the largest [PyTorch list (3.8k stars)](https://github.com/ritchieng/the-incredible-pytorch) of official and unofficial implementations that contains links to all other Github repositories and it's really useful for the community.

At some point RAPIDS might grow to that kind of open-source populari

[2019-08-18 03:41] gumdropsteve commented on #149
More context: [here](https://github.com/rapidsai/notebooks-contrib/blob/master/utils/rapids-colab.sh) is the link to rapids-colab.sh (the script colab is saying has a syntax error & being referenced in this issue)

[2019-08-21 09:23] gumdropsteve commented on #151
Initial thought is starting a collection this early may over-influence community structure.

[2019-08-22 14:31] cjnolet commented on #151
@ritchieng, I definitely think a list for the extended community is a good idea for the long-term. It would also be nice to capture RAPIDS blog posts in that list somewhere.

I notice your PyTorch list is under your personal Github. Are you wanting to do the same w/ a RAPIDS list as well? You could always start this way in hopes of having a positive impact.

[2019-08-22 15:21] ritchieng commented on #151
@cjnolet Happy to be aligned somehow, yes it becomes a centralized index allowing anyone to quickly search for something they might want to adapt and/or learn.

I posted a Github issue because I was hoping to maintain one under RAPIDS this time if the team is open to it. I'll be updating it, sorting, and reviewing all pull requests on adding their RAPIDS open-source repos.

[2019-08-22 18:28] gumdropsteve commented on #149
resolved by updated `rapids-colab.sh` merged from pr #159

[2019-08-22 18:28] #149 closed

[2019-08-24 14:48] taureandyernv commented on #121
Updated with https://github.com/rapidsai/notebooks-contrib/pull/144 and https://github.com/rapidsai/notebooks-contrib/pull/146

[2019-08-24 14:48] #121 closed

[2019-08-24 15:20] tym1062 opened #169 "[BUG] RAPIDS 0.9 E2E taxi notebook: Attribute Error: Can only use .dt accessor with datetimelike values"
**AttributeError: Can only use .dt accessor with datetimelike values**
Using the taxi E2E notebook, after cell #11 in the notebook, the following traceback is reported:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/opt/conda/envs/rapids/lib/python3.6/site-packages/dask/dataframe/utils.py in

[2019-09-05 09:41] lazykyama opened #176 "[DOC] Broken link to one example."
## Report incorrect documentation

This is a trivial issue. Please fix it if needed.

**Location of incorrect documentation**
Second example of https://github.com/rapidsai/notebooks-contrib#intermediate-notebooks
"Dask_with_cuDF_and_XGBoost_Disk"

**Describe the problems or issues found in the documentation**
Now, the link URL is below but this is 404.
https://github.com/rapidsai/notebooks-contrib

[2019-09-08 05:17] taureandyernv commented on #176
Hey @lazykyama, we updated the links in a recent readme update, and this notebook was retired (removed form the readme).  we're deciding on whether or not to have archived notebooks.  Thanks for the heads up though!

[2019-09-08 05:17] #176 closed

[2019-09-09 17:15] ayushdg opened #177 "[BUG] Names.csv provided with the mortgage notebook seems incorrect"
**Describe the bug**
The mortgage notebook dataset [provided](https://docs.rapids.ai/datasets/mortgage-data) has a `names.csv` which is a proper mapping of seller names. (Since the same seller often has multiple names in the dataset and need to be treated as the same seller downstream. This mapping file seems incorrect (mainly due to the way the seller names are delimited)

**Steps/Code to reprodu

[2019-09-13 18:52] bigwater opened #179 "[BUG] JIT compliation error in PLAsTiCC notebook"
**Describe the bug**
I am looking at the plasticc notebook that is located in notebookscontrib/competition_notebooks/kaggle/plasticc/

In etl_gpu(df,df_meta) function, an error raised in df['flux_ratio_sq'] = df['flux_ratio_sq'].applymap(lambda x: math.pow(x,2)). Seems the JIT did no compile the lambda expression.

 JIT compile log for

(20): error: identifier "_ZN8__main__7etl_gpu12_3clocals_3e17

[2019-09-18 05:12] gumdropsteve opened #182 "Old Colab Install Script Still In Use on Default "Try RAPIDS" [BUG]"
**Describe the bug**
Colab install script on [rapids-colab.ipynb](https://rapids-goai.slack.com/archives/C5E06F4DC/p1568777822007900) ("Launch in Colab" notebook found at [rapids.ai/start](https://rapids.ai/start.html)) has not been updated to #159

**Steps/Code to reproduce bug**
1. Visit [rapids.ai](https://rapids.ai)
2. Click "Get Started"
3. Click "Launch in Colab"
4. See [cell #5](https://col

[2019-09-28 17:34] UmashankarTriforce commented on #182
I wish to work on this issue. The question that I have is -
1. If we maintain `rapids-colab.ipynb` under `/colab_notebooks`, how do we link this file to Colabs?
2. Even if we manage to link it, will it be automatically updated as we update the file here in repo?

[2019-09-30 07:50] UmashankarTriforce commented on #30
Is this issue still open? I would like to work on this!

[2019-10-01 20:08] #30 closed

[2019-10-01 22:29] thomcom opened #201 "[BUG] Updated notebook from @wkelongws repository didn't make it into cuspatial blog notebook"
**Describe the bug**
@wkelongws created a PR into the `notebooks` repo that was never picked up before we migrated cuspatial here.

https://github.com/rapidsai/notebooks/pull/218

[2019-10-02 17:59] #201 closed

[2019-10-04 10:23] #50 closed

[2019-10-04 10:37] taureandyernv commented on #182
@gumdropsteve thanks!  The good news is that this is a known and fixed issue, however we are waiting for site staging staging to get merged into the site master.  Also, this notebook will be getting updates so that you can try out more of RAPIDS in it.  Once that is finalized, we'll bring it into `/colab_notebooks`

[2019-10-05 15:44] gumdropsteve opened #205 "[FEA] colab_notebooks layout"
### Is your feature request related to a problem? Please describe.
Currently, the `README.md` found in `colab_notebooks` does not contain a map of the directory, meaning unfamiliar users must open each notebook to read it's description.

### Describe the solution you'd like
An update to the `README.md` to contain a visual `Name | Description` like seen in `getting_started_notebooks/intro_tutorials

[2019-10-11 14:06] egkiastas opened #208 "Google_Colab doesn't allocate Tesla T4, but only Tesla K80"
### After many resets on runtimes, colab continues to give me a Tesla K80 GPU instance.
I tried to setup and install RAPIDS Libraries with other ways but I understood that Tesla T4 is prerequisite for cudf and other packages to be imported and recognized to run even simple examples. What is the problem?

[code]

[2019-10-11 17:20] gumdropsteve commented on #208
Hey @egkiastas, this has been a growing issue over the past month or so and a bunch of people have been talking about it in the [Slack](https://rapids-goai.slack.com/join/shared_invite/enQtMjE0Njg5NDQ1MDQxLTJiN2FkNTFkYmQ2YjY1OGI4NTc5Y2NlODQ3ZDdiODEwYmRiNTFhMzNlNTU5ZWJhZjA3NTg4NDZkMThkNTkxMGQ). To the best of my knowledge (a few days lagged), nobody knows why, or how to fix it, yet.

[2019-10-21 20:57] #205 closed

[2019-10-21 21:13] taureandyernv commented on #208
@egkiastas , this has become our #1 reported issue, and in the background we've been trying improve the experience in as many avenues as we can.  We know why (Colab uses spare T4s and they just don't have any spares compared to the K80s).  We have promoted Colab as the cheapest "try it out" avenue, but there exists "not as cheap as 'free'" alternatives that you can quickly try with a more powerful

[2019-10-22 14:48] tym1062 opened #213 "[BUG] Error message "Boolean is not supported" from NYCTaxi-E2E notebook"
**Describe the bug**
Follow stack-trace reported after executing cell 14 in NYCTaxi-E2E notebook while using RAPIDS 0.10 container:

`XGBoostError: [14:31:50] /conda/conda-bld/xgboost_1571337679414/work/src/data/simple_csr_source.cu:161: Boolean is not supported.
Stack trace:
  [bt] (0) /opt/conda/envs/rapids/lib/libxgboost.so(+0xc9594) [0x7fe4c8a83594]
  [bt] (1) /opt/conda/envs/rapids/lib/libxgb

[2019-10-22 20:40] vilmara opened #214 "RAPIDS 0.10 and NYCTaxi-E2E notebook: Boolean and RMM_ERROR_OUT_OF_MEMORY errors"
**Describe the bug**
The NYCTaxi-E2E notebook is throwing boolean and rmm errors:
[code]

**Steps/Code to reproduce bug**
running the notebook via docker image `rapidsai/rapidsai:0.10-cuda10.1-runtime-ubuntu18.04`

**Environment details (please complete the following information):**
 - Environment location:  Docker
 - Method of RAPIDS libraries install:  Docker
   - commands used: `docker run --gp

[2019-10-23 13:26] egkiastas commented on #208
@gumdropsteve  @taureandyernv Thank you for your answers. I have created a g4 instance on EC2 and I run the images and the examples there.

[2019-10-23 19:27] vilmara commented on #214
It looks like  dask_xgboost is not handling boolean columns, I have dropped the boolean column 'day_of_week' (which wasn't needed) and it worked, but why dask_xgboost can't handle boolean columns?

[2019-10-23 19:28] vilmara commented on #213
hi @tym1062, take a look at the issue #214

[2019-10-23 20:06] taureandyernv commented on #214
Hey @vilmara!

working with Ty on the Boolean issue and raised the issue to our xgboost and our dask teams and our teams are looking into it.   Will let you know the resolution and when to expect it.  For now, i'll drop the "day of week" boolean column in a PR (or you could PR it yourself and it would count as an awesome community contribution!)

Are you still having the out of memory issue?

[2019-10-23 20:41] vilmara commented on #214
Hi @taureandyernv, thanks for your prompt reply. Here are some comments and questions in regards to the NYCTaxi notebook:

1- PR sent #215 for `Boolean is not supported` error
2- Error `RMM_ERROR_OUT_OF_MEMORY`. I fixed it passing the flags `--device-memory-limit 12GB --memory-limit 12GB` on each node

3- What does mean the below warning and how to eliminate it:
[code]

4- How can I implement Rapi

[2019-10-23 20:55] ayushdg commented on #214
XGBoost updates should be able to determine the number of GPUs automatically based on the client and does not the the `ngpus` param. Removing it altogether should work. Feel free to inform us if things don't work as expected in that case.

The RMM import have changed. Updating the imports to `import rmm` and `from rmm import rmm_config` should do the trick.

[2019-10-23 21:27] taureandyernv commented on #214
Hey @vilmara, I have been running the notebook on a 2x GPU system, so its taking me a bit longer per iteration than i think you or Ty :).  Just a quick reply...

1. Thanks so much!!!  I actually have a small edit to the PR though, when it goes through the next iteration and sends me the RMM.
2. Dask should be taking care of the memory management.  Are you using a shared system?  I am still chuggin

[2019-10-23 21:30] taureandyernv commented on #213
@tym1062 @vilmara this has been escalated and we may have a fix by end of week with nightlies.  Thanks so much!!

[2019-10-23 21:44] vilmara commented on #214
Hi @taureandyernv / @ayushdg,

Thanks, it eliminated the WARNING: Deprecated. Single process multi-GPU training is no longer supported

I have updated the imports, and now I am getting a different error: `AttributeError: module 'cudf' has no attribute 'rmm'`

I am using 2 nodes with 4xV100-16GB each, the total ETL cicle is very quick in my system

Do you mean it doesn't require to explicitly handl

[2019-10-23 22:13] ayushdg commented on #214
Could you share the exact import command you used. The error message implies looking for rmm in cudf though rmm is a separate module.

Dask handles memory in the sense of partitioning the Dataframe etc. Running ETL by default will do the operations without using pool mode for underlying Cuda memory management. The rmm step will help enable `pool mode` for the underlying gpu memory and might improv

[2019-10-24 02:34] trivialfis commented on #213
Currently xgboost doesn't support consuming boolean values from cudf, as it specializes it to bitset according to arrow.  Workaround would be converting it to integer or float first.  For those who curious about why we can support all data types in pandas, that's because we convert them into float from Python.  As GPU memory is quite precious, so I decided not to do the conversation to prevent imp

[2019-10-24 04:47] chi2liu commented on #179
do you fix it?
I meet this problem too

[2019-10-24 14:20] tym1062 commented on #214
I have modified the NYCTaxi-E2E notebook to use RMM with these changes:

[code]
Notice dropped `cudf` from `cudf.rmm.initialize()` and `cudf.rmm.finalize()`.

Just before `remap` section of code, add:
[code]
At end, add:

[code]

I tested the `df = df.drop('day_of_week')` work-around (thanks @vilmara !), removed `n_gpus` from `params` before train call, and the example works now with RAPIDS 0.10

[2019-10-24 17:29] vilmara commented on #214
Hi @taureandyernv, after implementing the recommendations mentioned on this issue (thanks @tym1062 for the update), I got the code working for the first iteration, then the second iteration is sending me the same RMM memory error you got , see below:
`RuntimeError: RMM error encountered at: /conda/conda-bld/libcudf_1571332820798/work/cpp/src/io/utilities/wrapper_utils.hpp:75: 4 RMM_ERROR_OUT_OF_ME

[2019-10-24 17:32] ayushdg commented on #214
Awesome! Thanks @tym1062 for sharing the snippet. Could you check if rmm pool mode really gets initialized after calling `initialize_rmm_pool`? (You can visibly see memory allocated on the gpu with nvidia-smi or the gpu dashboard).
The newer version of RMM might require you to call `finalize_rmm` first followed by the `initialize_rmm_pool` step to actually initialize the gpu memory pool.

[2019-10-24 17:59] tym1062 commented on #214
Thanks @ayushdg you are correct, need to finalize RMM before initalize RMM pool (i checked via nvidia-smi).  Here is the correct way:

Just before `remap` section of code, add:
[code]

For Out-of-Memory issue, @vilmara have you tried using less csv data from the taxi datasets?  I can generate OOM using too much data (years Jan-2014 thru Jun-2016)  on my system with 4x 32GB GV100.

[2019-10-24 19:05] vilmara commented on #214
thanks @tym1062, I have fixed the OOM error after the second iteration increasing the device memory limit as shown below (my system has 4x_V100-32GB):
`cluster = LocalCUDACluster(ip=sched_ip, n_workers=num_gpu, device_memory_limit='30000 MiB')`

@taureandyernv / @ayushdg, thanks for your support, now that NYCTaxi-E2E notebook is working without issues and with RMM functionality on RAPIDS_v0.10, wi

[2019-10-24 20:45] taureandyernv commented on #214
@JohnZed can we merge under Vilmara's PR (i can also update)

@vilmara Congrats on your new system!!  I'm running 1 node with 2x GV100s, 32GB each. and using Local Dask Cuda cluster :)  It took my system nearly an hour from start to get back to the Dask XGBoost training with all the data downloads.  Can you add the fix to the RMM issue after we merge the RAPIDS solution into your PR?  I'll merge a

[2019-10-25 07:50] taureandyernv commented on #182
closing because the updated staging code was pushed for v0.10

[2019-10-25 07:50] #182 closed

[2019-11-04 15:34] BlueFelix opened #220 "[QST] Really slow csv process"
**What is your question?**
I' trying to run NYCTaxi-E2E and noted very slow csv process,

Below part takes 2min 34s on 16V100, is it normal?
[code]

[2019-11-04 21:44] taureandyernv commented on #220
Hey @BlueFelix this part may be slow due to the fact that it's downloading ~300GB of data into GPU memory and bandwidth/speed can vary.  I know that for me, it does take some time.  I've found that getting the data is sometimes the longest part of a notebook. :).  Does this help?

[2019-11-04 21:50] taureandyernv opened #221 "[BUG] show_me_the_word_count_gutenberg notebook needs updating as is it throwing a `No module named 'librmm_cffi'` error."
**Describe the bug**
In 0.10,
[show_me_the_word_count_gutenberg.ipynb](https://github.com/rapidsai/notebooks-contrib/blob/master/blog_notebooks/nlp/show_me_the_word_count_gutenberg/show_me_the_word_count_gutenberg.ipynb) returns `No module named 'librmm_cffi'` when encoding strings that aren't in the key list to -1.

[code]

Error :

[code]
This previously did encode the strings to `-1`.  Please u

[2019-11-05 06:54] lazykyama opened #224 "[BUG] Need to change parent module name of `concat` and a pre-process step has an error."
**Describe the bug**

Sorry in advance if this issue (and/or related issues) has been already reported.

"blog_notebooks/cyber/network_mapping/lanl_network_mapping_using_rapids.ipynb" example has 2 issues.

First is similar to commit 279c7b0220c24bab84105e68fc23c1051816c1b9. In `flow_classification`, previous function call, `cudf.multi.concat()`, has been already changed to `cudf.concat()`. In `ne

[2019-11-08 16:02] vilmara commented on #214
hi @taureandyernv

What was the largest data size you were able to handle with your system 4x 32GB GV100 before it generated OOM?

[2019-11-11 05:41] datametrician commented on #224
@BartleyR @taureandyernv would you triage please?

[2019-11-11 15:10] BartleyR commented on #224
@efajardo-nv @brhodes10 This does look like to me the empty types. I tried it on a smaller subset of data and it worked, but this can be replicated. I believe we ran into a similar error recently.

Also, we can likely move this into the CLX repo now as a different network mapping notebooks.

@lazykyama - if you’re just interested in the network mapping part of the code and not the parsing portion

[2019-11-11 22:05] taureandyernv commented on #224
Thanks @BartleyR  for checking this out.  @lazykyama , thanks for helping the community and reporting this!

While I inadvertently addressed this a portion of your findings in PR #223 (the removing multi), I have also assigned @thomcom to help fix anything lingering.

[2019-11-11 23:14] taureandyernv commented on #221
thanks @VibhuJawa!

[2019-11-11 23:14] #221 closed

[2019-11-11 23:16] taureandyernv commented on #208
@egkiastas, Colab now has P100 instances and we have updated our script with PR #226.  We see you get a P100 16%-25% of the time if you keep trying.  Hooray!

[2019-11-11 23:16] #208 closed

[2019-11-11 23:19] taureandyernv commented on #179
@chi2liu and @bigwater, we have both archived the original Plasticc notebook and updated it for 0.9+ here: https://github.com/rapidsai/notebooks-contrib/tree/master/conference_notebooks/KDD_2019/plasticc.  I'm going to close this issue, but please reopen it if you still require assistance!

[2019-11-11 23:19] #179 closed

[2019-11-12 04:15] lazykyama commented on #224
@BartleyR Thanks for checking this and sharing new example notebook! I'll check and try it.

@taureandyernv Thanks for your helping to fix this!

[2019-11-12 21:01] abhijithch opened #228 "[DOC] Update cuml version in installation /utils/rapids-colab.sh"
## Report incorrect documentation

**Location of incorrect documentation**
/utils/rapids-colab.sh

**Describe the problems or issues found in the documentation**
Since the default branch is 0.11, it might be worth it to update the version in the installation file

**Suggested fix for documentation**
PR #229

[2019-11-13 21:44] #228 closed

[2019-11-14 00:04] taureandyernv commented on #177
@ayushdg I know this was on your plate before, but if you could update with a PR or comment, it would be great to know your progress :).  Thanks buddy!

[2019-11-14 00:04] #169 closed

[2019-11-14 00:15] ayushdg commented on #177
Thanks for the ping! The final pr/update would be to update the file to the cloud locations where people pull the mortgage data from before running e2e. Since the "new" mortgage notebook is a wip and the old one has been removed, I'll probably update around the same time as the notebook update :)

[2019-11-14 00:23] ayushdg commented on #61
The reason for this error is insufficient host memory (cpu ram). An intermediate step of the notebook is writing out the results from ETL to arrow on host memory, and then reading a subset back on the gpu for XGBoost training.

[2019-11-15 01:22] taureandyernv opened #232 "[BUG] rapids-colab.sh script fails to properly install the libraries in several instances"
**Describe the bug**
Colab script has several new issues:
1. when installing 0.11 nightlies, cudf is installed as `=.10 `
1. when installed a stable release, like `0.10`, the script fails
1. when installing xgboost, the script fails with a 404 error
1. when all libraries are installed in 0.11, cudf and cugraph throw Attribute errors around features that have been removed for 0.11
- cudf errror: At

[2019-11-15 01:24] taureandyernv commented on #232
Creating a PR for fixing 1,2, and 3 https://github.com/rapidsai/notebooks-contrib/pull/233.  May do a quick merge to get users working in Colab with v0.10 and we can fix 0.11 after.  Thoughts @randerzander ?

[2019-11-18 21:23] thomcom commented on #224
Thanks for working with us @lazykyama ! I've pushed a set of fixes for this notebook, as a few things have changed in `cudf` since this notebook was originally written.

https://github.com/rapidsai/notebooks-contrib/pull/237

[2019-11-19 18:45] #224 closed

[2019-11-19 18:47] taureandyernv commented on #177
@ayushdg thanks for the update, buddy!

[2019-11-21 21:24] taureandyernv opened #238 "[BUG] Apply RMM update to some Notebook Contrib notebooks"
Due to changes in RMM, there are a few notebooks that need to be updated to the new API.  Alerting those who maintain the respective notebooks.

Changes Readme: https://github.com/rapidsai/rmm#handling-rmm-options-in-python-code

Notebooks to update:

- [ ] [Spotify Playlist](https://github.com/rapidsai/notebooks-contrib/blob/master/conference_notebooks/ASONAM_2019/Spotify_Playlist.ipynb) @cjnolet

[2019-11-22 04:05] VibhuJawa commented on #238
@taureandyernv , In my notebook i just use `rmm` to create a device array. It should not change with `api`. Did it break ?

[2019-11-23 16:29] miguelangel opened #239 "[BUG] regression_blog_notebook.ipynb results do not match blog results"
**Describe the bug**
Hi,

I am reading the following blog, and when I try to reproduce the example notebooks, the results do not match.

https://medium.com/rapids-ai/essential-machine-learning-with-linear-models-in-rapids-part-1-of-a-series-992fab0240da

In my testing, the best result is always MSE_OLS_THEORY, and not MSE_RIDGE, as stated in the blog.

Any ideas why is this happening? Could the co

[2019-12-06 08:49] lazykyama opened #256 "[QST] in weather example, weird calculation of average."
This question is about [intermediate_notebooks/examples/weather.ipynb](https://github.com/rapidsai/notebooks-contrib/blob/branch-0.11/intermediate_notebooks/examples/weather.ipynb).

At the last of section "5. Using Inner Joins to Filter Weather Observations", total length of stations (like `len(atlanta_stations_df)`) is used to calculate average precipitation.
However, the numbers of stations are

[2019-12-18 01:20] taureandyernv opened #258 "[BUG] Notebooks in Notebooks Contrib have minor 0.11 errors or are obsolete"
A few bugs emerged from CI.  We need to update both the `branch-0.11` and `branch-0.12` branches.

1) getting_started_notebooks/06_Introduction_to_Supervised_Learning.ipynb
[code]

2) getting_started_notebooks/02_Introduction_to_cuDF.ipynb
[code]
3) cuml_benchmarks
- Fix error: 'AlgorithmPair' object has no attribute 'set_up_cpu'
4) replace old cuml_quick_benchmarks with working version of cuml_be

[2019-12-24 20:34] taureandyernv commented on #256
assigning to @randerzander , who authored it

[2020-01-16 06:16] #57 closed

[2020-01-24 03:31] taureandyernv opened #272 "[BUG]Clean up of Notebooks Contrib for 0.12"
**Describe the bug**
A few notebooks failed CI.  Time to fix em or ditch em for 0.12!

To Fix

- [x] conference_notebooks.02-Louvain
- [x] conference_notebooks.03-UMAP
- [x] getting_started_notebooks.02_Introduction_to_cuDF
- [x] getting_started_notebooks.06_Introduction_to_Supervised_Learning
- [x] intermediate_notebooks.linear_regression_demo
- [x] intermediate_notebooks.ridge_regression_demo
-

[2020-01-25 00:31] miguelangel opened #274 "[DOC] Update documentation links to the stable branch"
Nowadays, links to RAPIDS methods refer to specific RAPIDS versions, such as:

https://rapidsai.github.io/projects/cuml/en/0.10.0/api.html#cuml.metrics.accuracy.accuracy_score

It is needed to update them to link to the stable branch, something similar to:

https://rapidsai.github.io/projects/cuml/en/stable/api.html#cuml.metrics.accuracy.accuracy_score

[2020-01-25 00:31] miguelangel commented on #274
(I will submit a PR in a couple of hours. Please, assign to me)

[2020-01-27 22:59] #274 closed

[2020-01-29 05:09] mfeiman opened #280 "[BUG]08_introduction_to_Dask_XGBoost notebook fails with TypeError"
**Describe the bug**

I'm trying to run the
notebooks-contrib/getting_started_notebooks/intro_tutorials/08_Introduction_to_Dask_XGBoost.ipynb
- completely unchanged.

**Steps/Code to reproduce bug**

The Notebook cells runs successfully till it come to "Train Model" cells
and when executing cell with code:
bst = dask_xgboost.train(client, params, X_train_dask_cudf, y_train_dask_cudf, num_boost_rou

[2020-02-03 21:38] cj2001 opened #282 "[BUG] RAL|\Louvain demo notebook"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Envi

[2020-02-16 01:39] lbotecur commented on #149
**Trying to run the notebook in [https://rapids.ai/start.html](https://rapids.ai/start.html) (button LAUNCH IN COLAB), when I run this cell:**

`# Install RAPIDS`
!git clone https://github.com/rapidsai/rapidsai-csp-utils.git
!bash rapidsai-csp-utils/colab/rapids-colab.sh

import sys, os

dist_package_index = sys.path.index('/usr/local/lib/python3.6/dist-packages')
sys.path = sys.path[:dist_package

[2020-03-20 06:25] peizhaoliu opened #285 "cuGraph example multi_gpu_pagerank: warning on "read the data from disk""
**What is your question?**
Hi，we run the "rapidsai/notebooks-contrib/../cugraph/multi_gpu_pagerank.ipynb" on twitter-2010 dataset by using 4 Tesla T4 (16GB), these gpu are not connected with nvlink. Then throw warning during "Read the data from disk", the warning below: "Memory use is high but worker has no data to disk. Perhaps some other process is leaking memory? Process memory: 5.83GB -- Worke

[2020-04-15 19:17] rnyak commented on #280
@mfeiman do you still have the issue? I recommend to use latest rapids version (0.14 nightly) either in a conda env, or docker container.

you can use this code snippet for new dask-xgb API:

[code]
Hope that helps.

[2020-04-15 20:09] mfeiman commented on #280
@rnyak thank you! Actually I got updated dask-xgboost 0.1.9  build on Power (and dependencies) - with that  worked. The dask-xgboost version is so far only in daily build on Power  (c 1.7.1a) but since it works I will close the issue now. Thanks again!

[2020-04-15 20:09] #280 closed

[2020-04-24 01:41] harrism opened #290 "[FEA] This repo is too big. Consider using git-lfs or keeping the data outside of git."
**Describe the bug**
This repo  is 500MB and growing. Cloning is slow. Most users probably don't use all the datasets. Should consider externalizing the datasets. Could also use git-lfs  (large file storage):
https://git-lfs.github.com

[code]

[2020-04-28 20:24] taureandyernv commented on #290
@harrism , keeping the repo size down was a problem, but we should not be at 500mb.  IIRC, 300ish.  we may have had an accidental push of dataset or history.  If josh okays it, i will search and remove the old datasets.  thanks man!

[2020-04-28 20:26] taureandyernv commented on #285
@BradReesWork @afender should we move this notebook in question to the cugraph repo so that it remains better updated?

[2020-04-29 01:41] harrism commented on #290
@taureandyernv Even if you remove them, they will still be there in the git history (affecting everybody who clones), unless you modify the history. This is why you should use a different system for large datasets, like git-lfs, since it replaces the files with text pointers to external storage on GitHub.

[2020-05-20 21:41] gumdropsteve opened #294 "[BUG]"
**Describe the bug**
- Invalid DataFrame creation
- 02_Introduction_to_cuDF.ipynb
- Cell 11

**Steps/Code to reproduce bug**
^^

**Expected behavior**
DataFrame generation

**Environment details (please complete the following information):**
 - Environment location: Cloud (AWS) | app.blazingsql.com RAPIDS Stable environment
 - Method of RAPIDS libraries install: conda

**Additional context**
Here'

[2020-05-20 21:47] gumdropsteve commented on #294
I'm running an old version, nvm

[2020-05-20 21:47] #294 closed

[2020-05-22 20:07] vaibhavsingh007 commented on #61
Hi @ayushdg i'm facing a similar issue.

`OSError: Expected to be able to read 161256 bytes for message body, got 144086`

Do we need to increase driver, or executor mem?
The cluster has 1.6 T

[2020-05-22 20:34] ayushdg commented on #61
@vaibhavsingh007 Couple of questions:

- Are you using the latest version of the notebook? (there have been a few updates recently)

- The current script is set up for single-node cluster only. You might have to change the configuration on starting a cluster on multiple nodes.

- If a single node has 1.6T of host memory, you should not be seeing memory issues. Could you share more details about th

[2020-06-23 16:29] cwharris opened #298 "[BUG] Rename "master" branch."
Decades from now, will history students wonder why an entire industry decided to rename a core part of its infrastructure, or will they wonder why it was named that way to begin with?

Let's rename the "master" branch.

rapidsai/cudf#5560

[2020-06-23 17:11] mike-wendt commented on #298
As mentioned in rapidsai/cudf#5560 there is a coordinated effort for this that is still in progress. Once approved a new issue with steps for each repo will be created here and the necessary PRs for the transition in the next few weeks.

[2020-06-23 17:11] #298 closed

[2020-10-05 14:55] Str-Gen opened #313 "[BUG] Unexpected Pyarrow module structure breaks basics cuDF notebook"
**Describe the bug**
Creating a fresh anaconda environment with installation of packages via the rapidsAI get started preferred command
leads to an environment in which even the basics notebook in this repo (getting_started_notebooks/basics/Getting_Started_with_cuDF.ipynb) breaks upon trying
`gdf = cudf.DataFrame.from_pandas(df)`, fatally erroring with ModuleNotFoundError: No module named 'pyarrow

[2020-10-05 16:26] taureandyernv commented on #313
Hey!  Can you downgrade pyarrow by installing `pyarrow=0.15.0` from condaforge, try it again, and report back?  I just confirmed that your issue works on did app.blazingsql.com, did `!conda list` of their set up, and that’s the version of pyarrow they have.

From: Str-Gen <notifications@github.com>
Sent: Monday, October 5, 2020 7:56 AM
To: rapidsai-community/notebooks-contrib <notebooks-contrib@no

[2020-10-05 18:50] Str-Gen commented on #313
### I have solved it, but the process has been strange:
Conda would not let me downgrade to 0.15.0 for pyarrow due to numerous conflicts. Foremost being a requirement to downgrade python from 3.8.x to at most 3.7.x as well as being marked in conflict with most of rapids' packages and with cudatoolkit.

After another clean environment creation, now with python 3.7 (3.7.8 after install), the sample

[2020-10-05 18:59] taureandyernv commented on #313
When I have a minute, i'll spin up a new conda env and test it out (may be later this week).  Happy you're back up and running, sad it wasn't straight forward and still remains strange.  Sometimes a clean reinstall fixes some of these issues.  I'll assign this to myself and get back to you.  Please let me know anything else isn't working as expected.

[2020-10-23 06:46] lpyhdzx commented on #61
I used to meet the same issue when using datasets, with which one can download dataset. I fixed problem by deleting the ".lock" file generated last time. The exception occured because the downloading process didn't really completed last time. Hope this can help.

[2020-11-17 19:16] taureandyernv opened #318 "[BUG] Add "32GB card required" warning on synthetic 3D notebook"
**Describe the bug**
We need to let users know that the [synthetic 3D notebook](https://github.com/rapidsai-community/notebooks-contrib/blob/branch-0.14/intermediate_notebooks/E2E/synthetic_3D/rapids_ml_workflow_demo.ipynb) requires a 32GB GPU

**Steps/Code to reproduce bug**
User noticed this on Stack Overflow
https://stackoverflow.com/questions/64879009/memory-allocation-error-on-worker-0-stdbad

[2021-05-14 14:52] erinkhoo opened #328 "[FEA] Notebook on Tabular Data + SHAP"
**Is your feature request related to a problem? Please describe.**
I can't find a great example of cuML on a tabular novel dataset using SHAP

**Describe the solution you'd like**
I want to PR a notebook explaining a demo with a new GPUTree SHAP project
Provide a cuML leveraged notebook on a large recruitment tabular dataset to show the speed and usefulness of GPUTree SHAP

**Describe alternatives

[2021-06-16 16:43] taureandyernv opened #331 "[FEA] Add new tutorials and trainings links"
**Is your feature request related to a problem? Please describe.**
There are new tutorials that need to be added:
- GPU hackathons Crash course
- Paperspace, plotly, RAPIDS: https://console.paperspace.com/ml-showcase/notebook/r3bl8u89ji6nubx
- Kaggle examples

Let's make a list below and add them in a PR and check them off here

[2021-06-16 16:44] taureandyernv commented on #328
Hey @erinkhoo !  Please do make a PR to the README or add it into community tutorials folder.  I'll review.

[2021-07-19 18:40] Riebart opened #338 "[BUG] pynvml.smi.DeviceQuery() errors when run in the Intro01 demo notebook due to bad device brand (10) returned"
**Describe the bug**
When using `rapidsai/rapidsai:21.06-cuda11.2-runtime-ubuntu20.04-py3.8` on either an RTX 3080 Mobile or A100 MIG partition and when running the [intro_01 notebook](https://github.com/rapidsai-community/notebooks-contrib/blob/main/getting_started_materials/intro_tutorials_and_guides/01_Introduction_to_RAPIDS.ipynb), the `nvmlDeviceGetBrand()` call invoked from the `pynvml` libr

[2021-07-19 19:31] taureandyernv commented on #338
@Riebart , thanks for this issue. Can you share with me the output of `nvidia-smi` for each one of the GPUs?

pynvml is an external library, so it may be good to send the details of this issue to gpuopenanalytics who owns pynvml: https://github.com/gpuopenanalytics/pynvml

[2021-07-19 20:04] Riebart commented on #338
This problem is already reported in two issues on pynvml: [here](https://github.com/gpuopenanalytics/pynvml/issues/37) and [here](https://github.com/gpuopenanalytics/pynvml/issues/38).

Output of `nvidia-smi` on the A100:

[code]

Output on the RTX3080 Mobile (I'll update this comment later and include it).

[2021-07-19 21:56] Riebart commented on #338
For our use case (training and hands-on workshops), we can comment out/remove that cell, as we're doing other automated transformations on the notebooks to change sample counts to match the size of the MIG slices we're using anyway (since we usually don't have 16GB of VRAM per participant).

It might be worth commenting it out until pynvml fixes the issue to avoid confusing new users at the very b

[2021-07-27 15:21] rjzamora commented on #338
Sorry for the late response here, but I'd like to declare a bit of a warning that the `pynvml.smi` module is probably not something you should be using. The NVML bindings are effectively kept up to date by the official NVML team, but the smi bindings are **not**.   There is currently only one person  who maintains `pynvml.smi`, and that is not on a regular basis.  Therefore, my personal vote is ac

[2021-07-27 17:16] Riebart commented on #338
@rjzamora That makes sense to me.

It's important to note that the `dask-cuda` portions of Intro01 are [also broken with MIG partitions](https://github.com/rapidsai/dask-cuda/issues/583), also because of pynvml. There's an [open PR](https://github.com/rapidsai/dask-cuda/pull/674) for that waiting for review, but it seems like MIG is breaking a lot of downstream projects due to namespace what amoun

[2021-08-09 20:18] taureandyernv commented on #338
Thanks @rjzamora for the information.  I'll refactor and update the affected notebooks.  When i get the solution PRed I'll reply back and close this issue.  Thanks again @Riebart !

[2021-08-09 22:26] taureandyernv commented on #338
@Riebart , can you test my PR for Intro notebooks on your GPU?  https://github.com/rapidsai-community/notebooks-contrib/pull/339.  I don't have either GPU to test.

[2021-08-12 20:01] Riebart commented on #338
Still no joy, but a different error this time. This is related to issues we've observed in other areas, such as `dask-cuda` ([ref](https://github.com/rapidsai/dask-cuda/issues/583) and what I believe to be the [related PR](https://github.com/rapidsai/dask-cuda/pull/674))

[code]

[2021-08-12 20:35] taureandyernv commented on #338
sigh, okay, i'll check that out Monday, unless its P0.  Does this `NVMLError_NoPermission` occur with the Ampere Mobile GPU or the MIG partitions?  Can you try it with the Mobile if you haven't?  I'll check with @pentschev about some of the subtleties of that PR that i might be missing

can you send me your environment?  I'm partially wondering if that is part of what is going on.

[2021-08-13 08:35] pentschev commented on #338
Just to clarify, https://github.com/rapidsai/dask-cuda/pull/674 has been merged and MIG devices should now be supported by Dask-CUDA. However, it's still not the most user-friendly interface, the only way to enable MIG devices at this time is to specify each MIG instance to `CUDA_VISIBLE_DEVICES` via their UUIDs, similar to what's show in [GPU Instances doc](https://docs.nvidia.com/datacenter/tesl

[2021-09-24 16:08] DaceT opened #340 "[BUG] pd.read_csv() parameter addition"
**Describe the bug**
If the file is unreasonably large, the function will only read the first 1 billion rows, according to the instructions for  [07_Introduction_to_XGBoost.ipynb](https://github.com/rapidsai-community/notebooks-contrib/blob/main/getting_started_materials/intro_tutorials_and_guides/07_Introduction_to_XGBoost.ipynb) notebook. The code, however, is missing the section where it does e

[2021-11-19 01:56] taureandyernv commented on #340
closed with #341

[2021-11-19 01:56] #340 closed

[2021-11-19 18:23] taureandyernv commented on #328
@erinkhoo the SHAP notebook looks cool, but requires the Kaggle kernel to run the Janestreet module, which is highly restricted.  I really want to credit you with the work.  May you either
1. create the GPU version of your notebook in Kaggle, with instructions, and I'll link to that notebook
2. create a stand alone SHAP notebook with less restricted data and PR it?

Please let us know!

[2022-02-17 09:55] gianlumessi opened #348 "ModuleNotFoundError: No module named 'pyarrow._cuda' when running rapids-colab.ipynb [BUG]"
**Describe the bug**
When running the rapids-colab.ipynb as is (found here: https://colab.research.google.com/drive/1rY7Ln6rEE1pOlfSHCYOVaqt8OvDO35J0#forceEdit=true&offline=true&sandboxMode=true), I get: ModuleNotFoundError: No module named 'pyarrow._cuda'. The code error arises when doing: import cudf and import cuml (last cells in the notebook)

**Steps/Code to reproduce bug**
I am running the "

[2022-02-22 22:03] taureandyernv commented on #348
[Colab made some breaking changes a few weeks ago that we are still figuring out.](https://github.com/rapidsai/cudf/issues/10187).  We weren't the only packages affected by it.  Today, as Colab doesn't support the latest RAPIDS stable, we recommend transitioning to SageMaker Studio Lab.  A notice will go out soon, along with a blog, but if you'd like, please try out the capability here:

https://g

[2022-02-23 06:48] vincentmele commented on #348
Indeed this issue continues with the "new" issue in #10187, The link that was provided has a possible fix for this bug.

Posted [here](https://github.com/rapidsai/cudf/issues/10187#issuecomment-1029007383).

[code]

Note that you'll need to make sure you start with a fresh runtime. Thus:

1. click `Runtime -> Restart Runtime`
2. Then execute the code I posted above
3. Only after that, `import cudf

[2022-04-04 20:04] charlesbluca opened #350 "[DOC] Use of relocated `cuml.preprocessing.model_selection` in ML notebooks"
## Report incorrect documentation

**Location of incorrect documentation**
- https://github.com/rapidsai-community/notebooks-contrib/blob/main/community_tutorials_and_guides/census_education2income_demo.ipynb
- https://github.com/rapidsai-community/notebooks-contrib/blob/main/community_tutorials_and_guides/linear_regression_demo.ipynb

**Describe the problems or issues found in the documentation**

[2022-04-04 20:20] charlesbluca opened #351 "[DOC] Use of deprecated CPU/GPU cuDF array methods in cuDF notebooks"
## Report incorrect documentation

**Location of incorrect documentation**
- https://github.com/rapidsai-community/notebooks-contrib/blob/main/community_tutorials_and_guides/rapids_customized_kernels.ipynb
- https://github.com/rapidsai-community/notebooks-contrib/blob/main/community_tutorials_and_guides/rf_demo.ipynb
- https://github.com/rapidsai-community/notebooks-contrib/blob/main/getting_start

[2022-04-04 20:49] charlesbluca opened #352 "[DOC] Use of deprecated cuDF array methods in rf_demo.ipynb"
## Report incorrect documentation

**Location of incorrect documentation**
- https://github.com/rapidsai-community/notebooks-contrib/blob/main/community_tutorials_and_guides/rf_demo.ipynb

**Describe the problems or issues found in the documentation**
This notebook uses the deprecated cuDF methods `as_matrix` and `as_array`, which fail in 22.04.

**Suggested fix for documentation**
Switching over

[2022-04-04 21:51] charlesbluca opened #353 "[DOC] Outdated use of cuDF string methods in hello_streamz.ipynb"
## Report incorrect documentation

**Location of incorrect documentation**
- https://github.com/rapidsai-community/notebooks-contrib/blob/main/getting_started_materials/hello_worlds/hello_streamz.ipynb

**Describe the problems or issues found in the documentation**
This example fails with 22.04 nightlies on some string methods:

- `Series.str.split` is called without `expand=True`, causing failure

[2022-04-04 22:18] charlesbluca commented on #352
Closing this to track this issue in #351 with all the other occurrences of this issue

[2022-04-04 22:18] #352 closed

[2022-04-26 17:22] diggerdu commented on #313
this bug still exists in 2022.04

[2022-04-26 18:45] diggerdu commented on #313
@Str-Gen
I inspect the procedure of `import cudf` with command `strace python -m cudf`, I find that the program import `gpuarrow.pyx`  in
`~/.local/lib/pythonxxx/`  firstly rather then pyx file in the `conda/env/xxx/lib/pythonxxx`. The import error disapppers after I adjust the order of `sys.path`.  So, a simple fix comes here
`
import sys
sys.path = sorted(sys.path, key=lambda s:'envs' not in s)

[2022-04-26 19:55] #338 closed

[2022-04-26 20:07] #350 closed

[2022-04-26 20:07] #351 closed

[2022-04-26 20:07] #353 closed

[2022-05-20 09:18] saipankaj1212 opened #356 "RuntimeError: Function "cuInit" not found"
RuntimeError                              Traceback (most recent call last)
File ~/anaconda3/envs/rapids-22.04/lib/python3.8/site-packages/cuda/_cuda/ccuda.pyx:3674, in cuda._cuda.ccuda._cuInit()

RuntimeError: Function "cuInit" not found

**Environment details (please complete the following information):**
 - Environment location: [Bare-metal, Docker, Cloud(specify cloud provider)]
 - Method of R

[2022-08-09 23:25] taureandyernv opened #359 "[BUG] Fixes for 22.08"
- [ ] Music.csv data can no longer be found for the dask-sql
- [ ] Fix Federated Dask-sql Demo

[2022-09-19 20:53] beckernick opened #360 "[BUG] Switch Series applymap to Series apply"
We've removed `Series.applymap` from cuDF after a period of raising a deprecation warning. It's been replaced by support for `Series.apply`. We should update the notebooks to reflect this.

It looks like the only non-archived notebook that uses this is https://github.com/rapidsai-community/notebooks-contrib/blob/main/getting_started_materials/intro_tutorials_and_guides/02_Introduction_to_cuDF.ipyn

[2022-09-21 20:28] #360 closed

[2022-09-21 20:31] taureandyernv commented on #356
hey @saipankaj1212 , i know this may have been resolved with the updates, but where did this error pop up?  it would be great to have the full stack trace and where in the installation this happened. Thanks so much!

[2022-09-21 21:51] taureandyernv commented on #348
updating the thread, i've been working on nd off on a new Colab Script.  RAPIDS installs, but

- i've gotten python 3.8 to install on colab
- colab will use python 3.8
- RAPIDS will install in colab

importing cudf or anything RAPIDS yields error with cuda.cudart,

[code]
It's not actually there, even after copying the libraries, even though it has the same library version as the docker containers

[2022-10-05 03:47] chetkar opened #363 "[QST] Error Running RAPIDS using Docker on Mac and Windows"
**What is your question?**
Hi,
While running the RAPIDS using Docker on both Mac and Windows. I am getting the following error.

"
System has not been booted with system as init system (PID 1). Can't operate.
Failed to create bus connection: Host is down
"

Best,
Chetkar

[2022-10-10 21:18] beckernick commented on #363
This error suggests the issue is likely unrelated to RAPIDS. Are you able to use other Docker containers on your system?

Please note that RAPIDS is not supported on Macs and only [WSL2 on Windows 11](https://rapids.ai/wsl2.html) is officially supported for Windows.